/*---- BODY ----*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #1a1e2a;
}

/*---- HEADER ----*/

.container header{
  position: absolute;
  background-color: #252832;
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  justify-items: center;
}

.container nav img{
  width: 80px;
  margin: 20px;
  margin-left: 50px;
}

.container .p1{
  margin-right: 850px;
}

p{
  color: aliceblue;
  margin: 60px;
}

/*------ FILMES ------*/

.filmes{
  display: flex;
  margin-top: 35px;
  align-items: center;
}

.filmes .film h1{
  margin-top: -90px;
  text-align: center;
  font-size: 15px;
  color: aliceblue;
}

.filmes .film p{
  color: white;
  justify-content: center;
  margin-top: 10px;
  margin-left: 140px;
}

.filmes .film .pz{
  color: #c2bf04;
  margin-top: -50px;
  margin-left: 130px;
}

.notas{
  margin-top: -80px;
  margin-left: 280px;
  color: white;
  padding: 2px 4px;
  width: 28px;
  border-radius: 5px;
  background-color: #666666;
}


.filmes img{
  margin: 95px;
  max-width: 100%;
  width: 250px;
  height: 330px;
}

/*---- BOTÃO ----*/

.btn{
  display: flex;
  justify-content: space-between;
  margin: 25px;
  margin-left: 65px;
  margin-right: 100px;
  margin-top: -20px;
}

.btn a{
  padding: 10px 25px;
  color: azure;
  text-decoration: none;
  font-size: 14px;
  border-radius: 40px;
  background: linear-gradient(90deg, #070818, #090436);
}

/*------ INGRESSO ------*/

.ingresso{
  margin-top: 150px;
  background: #141720;
  display: flex;
  overflow: hidden;
  border-radius: 40px;
}

.ingresso img{
  margin: 30px;
  display: flex;
  max-width: 100%;
  width: 610px;
  height: 300px;
}

/*---- AVISOS ----*/

.imprimir{
  margin-top: 10px;
  color: aliceblue;
  display: flex;
  justify-content: center;
}

.imprimir h1{
  font-size: 20px;
  text-align: center;
}

/*---- IMPRIMA OU PRINT----*/

.final{
  margin-top: -60px;
  display: flex;
  justify-content: center;
}

.final img{
  width: 300px;
}