/* BODY */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  background-color: #1a1e2a;
}

/*---------------- HEADER ---------------*/
header{
  background-image: url("./assets/cruella1.png");
  width: 100%;
  height: 90vh;
  background-attachment: fixed;
  z-index: -1;
}

.container h1{
  color: #252832;
  font-size: 60px;
  text-shadow: 5px 1.8px rgb(15, 0, 0);
}


/*------------------ CONTAINER-1 --------------------*/

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.container-1 .text{
  color: #545868;
  display: flex;
  margin-top: 80px;
  align-items: center;
  justify-content: center;
  font-style: italic;
  text-shadow: 2px 3px black;
}

/*------------------ FILME 1  -------------------*/

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.container-1 .text{
  color: black;
  font-size: 22px;
  display: flex;
  margin-top: 80px;
  align-items: center;
  justify-content: center;
  font-style: italic;
  text-shadow: 2px 3px #52031a;
}

/*---- CRUELLA ANIMATED ----*/

.cardzao{
  background-image: url("./assets/bg2.png");
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.cardzao .card{
  position: relative;
  width: 600px;
  height: 350px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  transition: 0.5s;
}

.cardzao h1{
  color: #c2bf04;
  font-size: 10px;
}

.cardzao h1 .nota{
  color: white;
  padding: 2px 6px;
  width: 28px;
  border-radius: 5px;
  background-color: #666666;
}

.cardzao .card .circle{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.cardzao .card .circle::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #52031a;
  clip-path: circle(120px at center);
  transition: 0.5s;
}
.cardzao:hover .card .circle:before{
  background-color: #13161F;
  clip-path: circle(400px at center);
}

.cardzao img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: 0.5s;
}

.cardzao:hover img{
  left: 80%;
  height: 550px;
}

.cardzao .text{
  position: relative;
  width: 50%;
  left: 20%;
  padding: 20px 20px 20px 40px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.cardzao:hover .text{
  left: 0;
  opacity: 1;
  visibility: visible;
}


.cardzao .text p{
  color: white;
}

.cardzao .text a{
  padding: 10px 90px;
  margin: 10px 0;
  color: azure;
  text-decoration: none;
  font-size: 14px;
  border-radius: 40px;
  background: linear-gradient(90deg, #55051d, #310210);
  display: inline-block;
  font-weight: 700;
}

@media (max-width: 991px){
  .cardzao{
    margin-left: 70px;
    width: auto;
    height: 550px;
    max-width: 350px;
    align-items: flex-start;
  }

  .cardzao .card{
    height: 600px;
  }

  .cardzao:hover{
    height: 600px;
  }

  .cardzao .text{
    width: 100%;
    left: 0px;
    padding: 30px;
  }

  .cardzao img{
    width: 430px;
  }

  .cardzao:hover img{
    top: 70%;
    left: 50%;
    height: 430px;
  }
}

@media (max-width: 420px){
  .cardzao .text{
    padding: 20px;
  }
}

/*------------------ BOTÃO -----------------------*/

.filmes .btn{
  margin-top: 260px;
  margin-right: 60px;
}

.filmes .btn a{
  display: inline-flex;
  padding: 12px 36px;
  margin: 10px 0;
  color: azure;
  text-decoration: none;
  font-size: 14px;
  border-radius: 40px;
  background: linear-gradient(90deg, #070818, #090436);
}

/* ---------------- HORÁRIOS -------------------*/

.hr{
  margin: 65px;
  margin-top: 150px;
  display: inline-block;
  justify-content: space-between;
}


#hr1, #hr2, #hr3, #hr4, #hr5, #hr6{
  color: aliceblue;
  text-align: center;
}

/*------ LINE ------*/

.line{
  margin: 80px;
  width: 88%;
  height: 1px;
  background-color: #464646;
}

/* ------FILMES 2 ------- */

.f2{
  overflow: hidden;
  display: flex;
  margin: 20px;
  background-color: #141720;
  border-radius: 50px;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.f2 .film2{
  margin: 90px;
  margin-bottom: 50px;
  margin-top: 150px;
  justify-content: space-between;
}

.f2 .film2 img{
  width: 250px;
  margin-top: -60px;
  max-width: 100%;
  height: 360px;
  display: flex;
  justify-content: center;
}


.f2 .film2 h1{
  text-align: center;
  font-size: 15px;
  color: aliceblue;
}

.f2 .film2 p{
  color: white;
  justify-content: center;
  margin-left: 45px;
}

.f2 .film2 .pz{
  color: #c2bf04;
}

.notas{
  margin-top: -22px;
  margin-left: 150px;
  color: white;
  padding: 2px 4px;
  width: 28px;
  border-radius: 5px;
  background-color: #666666;
}

.f2 .film2 #pzinho{
  margin-left: 45px;
}

.f2 .film2 h1, img{
  margin: 12px;
  display: flex;
  justify-content: center;
}

/*------ BOTÃO --------*/

.btn2{
  margin-top: 120px;
  display: flex;
  justify-content: center;
}

.btn2 a{
  display: inline-flex;
  padding: 20px 100px;
  margin: 10px 0;
  color: azure;
  text-decoration: none;
  font-size: 14px;
  border-radius: 40px;
  background: linear-gradient(90deg, #070818, #090436);
}

/*------ TRAILERS ------*/

.trailers{
  margin: 90px;
  height: 100px;
  display: flex;
  align-items: center;
  margin-top: 80px;
}

.trailers img{
  width: 110px;
  height: 100px;
}

.trailers h1{
  margin: 60px;
  color: aliceblue;
}

/*---- IMAGENS TRAILERS ----*/

.imgt{
  margin-left: 60px;
  margin-top: -18px;
  overflow: hidden;
  display: flex;
}

.imgt2{
  display: flex;
}

.imgt2 img{
  margin-top: 25px;
  width: 800px;
  height: 440px;
  max-width: 100%;
}

.imgt3 #tr1,#tr2{
  display: flex;
  margin: 30px;
  max-width: 100%;
  width: 340px;
  height: 200px;
}

/*------ NOVDADES ------*/

.novidades{
  margin: 90px;
  height: 100px;
  display: flex;
  align-items: center;
  margin-top: 80px;
}

.novidades img{
  width: 110px;
  height: 100px;
}

.novidades h1{
  margin: 60px;
  color: aliceblue;
}

/*------- NOVIDADES DIV ------*/

.nvds1{
  display: flex;
  align-items: center;
  justify-content: center;
}
.nvds{
  background-color: white;
  border-radius: 15px;
  width: 720px;
  height: 550px;
  position: relative;
  overflow: hidden;
}

.nvds img{
  margin: 38px;
  margin-left: 60px;
  width: 70px;
  height: 70px;
}

.nvds h1 {
  position: absolute;
  color: #4768A2;
  margin-top: -100px;
  margin-left: 150px;
  font-size: 25px;
}

.nvds p{
  position: absolute;
  color: #A2A5AE;
  margin-top: -65px;
  margin-left: 155px;
  z-index: 1;
}

.nvds .text{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nvds .text p{
  position: absolute;
  margin-left: 15px;
  font-size: 22px;
  margin-top: 25px;
  color: black;
}

.nvds .text img{
  position: absolute;
  margin: 10px;
  margin-top: 130px;
  margin-left: 20px;
  max-width: 100%;
  width: 650px;
  height: 230px;
}

/*------ PONTINHOS ------*/

.ponto{
  display: flex;
  justify-content: center;
  width: 100%;
}

.ponto h1{
  font-size: 55px;
}

/*---- FOOTER ----*/

.footer{
  align-items: center;
  position: relative;
  color: #8a8a8a;
  font-size: 14px;
  background-color: #2C303E;
  margin-top: 200px;
  height: 300px;
  overflow: hidden;
}

.footer img{
  width: 200px;
  height: 200px;
}


.footer-col-1{
  position: absolute;
  margin-top: 50px;
  margin-left: 50px;
}

.footer-col-2{
  position: absolute;
  margin-top: 110px;
  margin-left: 380px;
}

.footer-col-3{
  position: absolute;
  margin-top: 110px;
  margin-left: 680px;
}
.footer-col-4{
  position: absolute;
  margin-top: 110px;
  margin-left: 1080px;
}

.footer-col-4 .imgtr{
  
  margin-left: -10px;
  width: 50px;
  height: 50px;
  float: left;
}